<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css?v=22"/>
<title>Бонус</title>
</head>
<body>
    <div class="content-wrap">
        <div class="title-place">
            <h1 id="gameName"> 
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </h1>
        </div>
        <div class="content-body">
            <h2>Вы победили!</h2>
            <div class="bonus">Ваш бонус: <span class="bonus-self" id="bonusplace">XXXXXXXXXXXXXXXX</span></div>
        </div>
    </div>
</body>
<script>
        var args = location.search.split("").slice(1).join("").split("&");
        var params = {};
        for(arg in args) {
            arg = args[arg].split("=");
            params[arg.splice(0,1)[0]] = arg.join("=");
        }
        document.getElementById("bonusplace").innerText = params['bonus'] ? params['bonus'] : '-'; 
        (function(){
            var names = JSON.parse('%%bonusNames%%');
            document.getElementById("gameName").innerHTML = (names[params['gameid'] ? params['gameid'] : 'filler'])+'<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>';
        })();
        
</script>
</html>
