<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<title>%%title%% (правила)</title>
<link rel="stylesheet" href="css/%%style%%"/>
</head>
<body>
    <div class="content-wrap">
        <div class="title-place">
            <h1>
                %%title%%
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </h1>
        </div>
        <div class="content-body">
            %%description%%
            <div class="text-center">
            <a href="%%id%%.html" class="btn btn-center">Играйте и получайте бонус</a>
            <a href="index.html" class="btn btn-center btn-gray">Вернуться к списку игр</a>
        </div>
        </div>
    </div>
</body>
</html>
